<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON</title>
    <script src="../../web/WEB-INF/jquery-3.2.1.js"></script>
    <script>
        $(document).ready(function () {
//            var cośJSON = {}; - object
//            var cośJSON = [{}]; - object Array
//            var cośJSON = {{}} - nested object.
            var employeeJSON = {
                "Todd": {
                    "firstName": "Jakub",
                    "lastName": "Dżejson",
                    "gender": "Male",
                    "salary": 50000
                },

                "Sara": {
                    "firstName": "Sara",
                    "lastName": "Dżejson",
                    "gender": "Female",
                    "salary": 40000
                }
            };

//            poniższe jest z pojedyńczą listą.
//            var result = '';
//            result += 'First name = ' + employeeJSON.firstName + '<br/>';
//            result += "Last name = " + employeeJSON.lastName + '<br/>';
//            result += "Gender = " + employeeJSON.gender + '<br/>';
//            result += "Salary = " + employeeJSON.salary + '<br/>';
//            $('#divResult').html(result);
//            $('#divResult').html(employeeJSON[0].firstName); = w wypadku object array
//            poniższe w wypadku nested object.
            $('#divResult').html(employeeJSON.Sara.firstName);
        });
    </script>
</head>
<body>
<div id="divResult"></div>
</body>
</html>